@import "tailwindcss";


.input {
  @apply w-full border border-gray-400 rounded-lg px-3 py-2
         focus:outline-none focus:ring-1 focus:ring-gray-600
         focus:border-gray-600;
}

.input {
  @apply w-full border border-gray-400 rounded-lg px-3 py-2
         focus:outline-none focus:ring-1 focus:ring-gray-600
         focus:border-gray-600;
}
